<a href="https://colab.research.google.com/github/dykeeIS590DV/dykeeIS590DV.github.io/blob/master/Copy_of_dataCleaningPres.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pwd

'/content/drive/MyDrive/colabNotebooks/unmcFiles'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%cd '/content/drive/My Drive/colabNotebooks/unmcFiles'

/content/drive/My Drive/Colab Notebooks/buffFiles

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import seaborn as sns

In [ ]:
data = pd.read_csv("surveys.csv")

In [ ]:
print(data)

       record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
0              1      7   16  1977        2         NL    M             32.0
1              2      7   16  1977        3         NL    M             33.0
2              3      7   16  1977        2         DM    F             37.0
3              4      7   16  1977        7         DM    M             36.0
4              5      7   16  1977        3         DM    M             35.0
...          ...    ...  ...   ...      ...        ...  ...              ...
35544      35545     12   31  2002       15         AH  NaN              NaN
35545      35546     12   31  2002       15         AH  NaN              NaN
35546      35547     12   31  2002       10         RM    F             15.0
35547      35548     12   31  2002        7         DO    M             36.0
35548      35549     12   31  2002        5        NaN  NaN              NaN

       weight
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
35544     NaN
35545     NaN
35546    14.0
35547    51.0
35548     NaN

[35549 rows x 9 columns]

This is a very improtant step because this printing of our data shows us that there will be problems with NaN inmputs.

In [ ]:
print(data.head())

   record_id  month  day  year  plot_id species_id sex  hindfoot_length  \
0          1      7   16  1977        2         NL   M             32.0
1          2      7   16  1977        3         NL   M             33.0
2          3      7   16  1977        2         DM   F             37.0
3          4      7   16  1977        7         DM   M             36.0
4          5      7   16  1977        3         DM   M             35.0

   weight
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN

In [ ]:
print(data.tail())

       record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
35544      35545     12   31  2002       15         AH  NaN              NaN
35545      35546     12   31  2002       15         AH  NaN              NaN
35546      35547     12   31  2002       10         RM    F             15.0
35547      35548     12   31  2002        7         DO    M             36.0
35548      35549     12   31  2002        5        NaN  NaN              NaN

       weight
35544     NaN
35545     NaN
35546    14.0
35547    51.0
35548     NaN

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35549 entries, 0 to 35548
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   record_id        35549 non-null  int64
 1   month            35549 non-null  int64
 2   day              35549 non-null  int64
 3   year             35549 non-null  int64
 4   plot_id          35549 non-null  int64
 5   species_id       34786 non-null  object
 6   sex              33038 non-null  object
 7   hindfoot_length  31438 non-null  float64
 8   weight           32283 non-null  float64
dtypes: float64(2), int64(5), object(2)
memory usage: 2.4+ MB
None

In [ ]:
#Checking for duplicates

##print("\nChecking for Duplicates\n")
##print(data.duplicated())

duplicates = data.duplicated()
    # Check if any duplicates exist
if duplicates.any():
  print("The DataFrame contains duplicates.")
else:
  print("The DataFrame does not contain duplicates.")

The DataFrame does not contain duplicates.

In [40]:
# While there is no duplicates, we can use the code below to remove any duplicates from our file in a
# Removing duplicates
newData = data.drop_duplicates()
print("\nDataset after removing duplicates:\n")
print(newData)

Dataset after removing duplicates:

       record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
0              1      7   16  1977        2         NL    M             32.0
1              2      7   16  1977        3         NL    M             33.0
2              3      7   16  1977        2         DM    F             37.0
3              4      7   16  1977        7         DM    M             36.0
4              5      7   16  1977        3         DM    M             35.0
...          ...    ...  ...   ...      ...        ...  ...              ...
35544      35545     12   31  2002       15         AH  NaN              NaN
35545      35546     12   31  2002       15         AH  NaN              NaN
35546      35547     12   31  2002       10         RM    F             15.0
35547      35548     12   31  2002        7         DO    M             36.0
35548      35549     12   31  2002        5        NaN  NaN              NaN

       weight
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
...       ...
35544     NaN
35545     NaN
35546    14.0
35547    51.0
35548     NaN

[35549 rows x 9 columns]

In [ ]:
# Checking for missing values
print("\nChecking for Missing Values:")
print(data.isnull().sum())

Checking for Missing Values:
record_id             0
month                 0
day                   0
year                  0
plot_id               0
species_id          763
sex                2511
hindfoot_length    4111
weight             3266
dtype: int64